.container-list{
    width: 105%;
    margin:-8px;
    margin-right: -20px;
    background-color: #293f7b;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.container-list img.img {
    width: 250px;
}

.container-list section.form {
    width: 46vh;
    background-color: #293f7b;
    border-radius: 5px;   
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.container-list ul {
    display: grid;
    grid-gap: 24px;
    list-style: none;
    background-color: #293f7b;
    width: 80%;
    margin-left: 0px;
}

.container-list ul li {
    background: #fff;
    padding: 30px;
    width: 95%;
    border-radius: 6px;
    margin-bottom: 20px;
    margin-left: -43px;
}