.logon-container{
    width: 100%;
    
    
    margin: 0 auto;
    background-color: #293f7b;
    flex-direction: column;
    display: flex;
    align-items: center;
    
    
}

.logon-container img.img {
    width: 250px;
}

.logon-container section.form {
    width: 46vh;
    background-color: white;
    border-radius: 5px;   
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
