.container-list{
    min-width: 100%;
    min-height: 100vh;
    background-color: #293f7b;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.container-list section.form {
    width: 100%;
    border-radius: 5px;   
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.container-list ul {
    display: grid;
    grid-gap: 24px;
    list-style: none;
    background-color: #293f7b;
    width: 110%;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.container-list li {
    background: #fff;
    padding: 30px;
    width: 90%;
    border-radius: 6px;
    margin-bottom: 10px;
    margin-left: -43px;
}

.container-list .actions{
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 100%
}

.container-list section.form button.button {
    min-width: 80%;
    background-color: #293f7b;
    border: 0;
    border-radius: 8px;
    color: #fff;
    font: 700;
    margin-top: 16px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    transition: filter 0.2s;
}

.button:hover {
    filter: brightness(90%);
}