.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%
}

.buttonPreencher{
    min-width: 30%;
    background-color: #293f7b;
    border: 0;
    border-radius: 8px;
    color: #fff;
    font: 700;
    margin-top: 16px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    transition: filter 0.2s;
    margin-right: 10px;
}

.buttonDetalhes{
    min-width: 30%;
    background-color: #FFF;
    border: 2px solid #293f7b;
    border-radius: 8px;
    color: #293f7b;
    font: 700;
    margin-top: 16px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    transition: filter 0.2s;
}

.areaText{
    margin-bottom: 10px;
    background-color: #fff;
    color: #333;
    height: 50px;
    width: 220px;
    border-radius: 8px;
}